<br><br>
<footer class="text-muted bg-light">
    <div class="container">
        <p class="float-right text-right">
            <a href="http://www.bio-nefu.com">Lab website</a><br>
            <a href="mailto:zhaoxudong@nefu.edu.cn">Contact with us</a><br>
            <!--a href="#">Term of use</a-->
        </p>
        <p>Bio-Bigdata Lab copyright 2020<br>
        Northeast Forestry University, Hexing rd. No.26, Harbin(150040), P.R.China.<br>
        Developer: Youlin Wu<br>
        <!--a href="#">doi:1122232.2214</a--></p>
    </div>
</footer>