<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" style="backdrop-filter: blur(10px) brightness(96%); -webkit-backdrop-filter: blur(10px) brightness(96%);">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div id="navbarText" class="collapse navbar-collapse  font-weight-normal">
            <ul class="navbar-nav mr-auto">
                <li class="navbar-item"><a class="nav-link" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                <li class="navbar-item"><a class="nav-link" href="/status"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Status</a></li>
                <li class="navbar-item"><a class="nav-link" href="/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div>

</nav><!-- /.navbar -->